{% extends 'base.html' %}
{% load static %}

{% block title %} | Dokümalar {% endblock %}

{% block content %}

<div class="container">
    <div class="col-xl-12 row">
        {% for i in '01234567891011121314151617'|make_list %}
        <div class="col-xl-3 col-md-4 col-sm-6 p-2">
            <div class="panel">
                <div id="flag">
                    <img src="{% static 'assets/img/flags/ad.svg'%}" alt="Andorra" flag="" width="100%" height="100%">
                    <div id="flagtitle">Andorra</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <a href="https://ahbap.org" target="_blank">• Ahbap</a>
                    </div>
                    <div class="row">
                        <a href="https://ahbap.org" target="_blank">• Ahbap</a>
                    </div>
                    <div class="row">
                        <a href="https://ahbap.org" target="_blank">• Ahbap</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock%}