{% load static %}

<nav class="navbar navbar-expand-lg py-md-4">

    <div class="container">
        
        <a class="navbar-brand" href="/">
            <img
            src="https://flagcdn.com/32x24/tr.png"
            srcset="https://flagcdn.com/32x24/tr.png 2x,
              https://flagcdn.com/48x36/tr.png 3x"
            width="32"
            height="24"
            alt="Turkey">
        </a>
        <div class="mx-auto">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </form>
          </div>
   
    </div>
</nav>
